*::selection {
  color: white;
  background: black;
  /* WebKit/Blink Browsers */ }

*::-moz-selection {
  color: white;
  background: black;
  /* Gecko Browsers */ }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: arial;
  overflow-x: hidden; }

a, a:hover {
  text-decoration: none; }

#header {
  width: 100%;
  text-align: right;
  margin-left: 50px; }
  #header h1 {
    color: white;
    background: black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2%;
    padding-right: 6%;
    font-size: 4.3em; }
    #header h1::selection {
      color: black;
      background: white;
      /* WebKit/Blink Browsers */ }
    #header h1::-moz-selection {
      color: black;
      background: white;
      /* Gecko Browsers */ }
    @media (max-width: 575.98px) {
      #header h1 {
        font-size: 3em; } }
  #header h2 {
    color: white;
    background: black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2%;
    padding-right: 6%;
    font-size: 2.3em;
    padding-left: 5%; }
    #header h2::selection {
      color: black;
      background: white;
      /* WebKit/Blink Browsers */ }
    #header h2::-moz-selection {
      color: black;
      background: white;
      /* Gecko Browsers */ }
  #header h1, #header h2 {
    width: 103%; }
    @media (max-width: 991.98px) {
      #header h1, #header h2 {
        width: 100%;
        text-align: center;
        padding: 0; } }

h3 span {
  opacity: 0; }

em {
  color: #999; }

.sns {
  position: fixed;
  left: 0;
  bottom: 30%;
  z-index: 5; }
  @media (max-width: 991.98px) {
    .sns {
      bottom: 0;
      text-align: center;
      width: 100%; } }
  .sns a, .sns a:hover {
    color: white;
    background: black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2%;
    padding-right: 6%;
    display: block;
    margin: 10% 0;
    padding: 0 25px; }
    .sns a::selection, .sns a:hover::selection {
      color: black;
      background: white;
      /* WebKit/Blink Browsers */ }
    .sns a::-moz-selection, .sns a:hover::-moz-selection {
      color: black;
      background: white;
      /* Gecko Browsers */ }
    @media (max-width: 991.98px) {
      .sns a, .sns a:hover {
        text-align: center;
        width: 30%;
        margin: 0;
        display: inline-block;
        font-size: 1.3em; } }

section#intro {
  margin-bottom: 15%; }
  section#intro .content {
    background: white;
    margin-top: 6%; }
  section#intro img#logo {
    opacity: 0; }
  section#intro .description {
    font-size: 1.2em; }
  section#intro .text > span {
    padding: 2% 5%;
    display: block;
    text-align: justify; }
  section#intro .capacities {
    font-size: 1.3em;
    display: flex; }
    @media (max-width: 1650px) {
      section#intro .capacities {
        display: block; } }
    section#intro .capacities > div {
      flex: 50%; }
    section#intro .capacities span {
      width: 55%;
      min-width: 100px;
      display: inline-block; }

.project {
  margin-bottom: 15%; }
  .project.right h3 {
    color: white;
    background: black;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 2%;
    padding-left: 6%;
    z-index: 4;
    position: absolute;
    width: 50%;
    transform: rotate(-3deg);
    margin-left: -150px;
    margin-bottom: -5px;
    left: 0; }
    .project.right h3::selection {
      color: black;
      background: white;
      /* WebKit/Blink Browsers */ }
    .project.right h3::-moz-selection {
      color: black;
      background: white;
      /* Gecko Browsers */ }
    @media (max-width: 991.98px) {
      .project.right h3 {
        width: 90%; } }
    @media (max-width: 991.98px) {
      .project.right h3 {
        transform: rotate(0deg); } }
  .project.left h3 {
    color: white;
    background: black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 3.3em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 2%;
    padding-right: 6%;
    z-index: 4;
    position: absolute;
    width: 50%;
    transform: rotate(3deg);
    margin-right: -150px;
    margin-bottom: -55px;
    right: 0; }
    .project.left h3::selection {
      color: black;
      background: white;
      /* WebKit/Blink Browsers */ }
    .project.left h3::-moz-selection {
      color: black;
      background: white;
      /* Gecko Browsers */ }
    @media (max-width: 991.98px) {
      .project.left h3 {
        width: 90%; } }
    @media (max-width: 991.98px) {
      .project.left h3 {
        transform: rotate(0deg); } }
  @media (max-width: 1650px) {
    .project.right h3, .project.left h3 {
      font-size: 2.6em;
      width: 70%; } }
  @media (max-width: 991.98px) {
    .project.right h3, .project.left h3 {
      font-size: 2em; } }

.category {
  margin: auto;
  background: white;
  padding: 6% 4% 4%;
  color: black;
  position: relative; }
  .category img {
    max-width: 100%;
    opacity: 0; }
  @media (max-width: 991.98px) {
    .category .row > .col-md-8 {
      padding: 10px 30px; } }
  .category span.text {
    text-align: justify;
    display: block;
    opacity: 0;
    font-size: 1.2em; }
    .category span.text a {
      text-transform: uppercase;
      background: black;
      padding: 2px 5px;
      color: white; }
    .category span.text span.tag {
      display: inline;
      background: #005084;
      color: white;
      padding: 3px 10px; }
  .category .thumbnails a {
    margin: 1% 0 4%;
    transition: 0.5s all; }
    .category .thumbnails a:hover {
      opacity: 0.6; }
  .category .thumbnails img {
    width: 100%;
    height: 200px;
    object-fit: cover; }

a.button {
  color: white;
  background: black;
  padding: 10px;
  width: 50%;
  margin: 3% auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
  font-family: "Oswald",sans-serif;
  display: block; }
  @media (max-width: 991.98px) {
    a.button {
      width: auto; } }

footer {
  width: 100%;
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  padding-top: 10px; }
  footer a img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    footer a img:hover {
      -webkit-filter: none;
      /* Safari 6.0 - 9.0 */
      filter: none; }

/*# sourceMappingURL=styles.css.map */
